@{
    ViewData["Title"] = "Gateway Callback...";
}
<div style="font-family: tahoma; font-size: 11pt; direction: rtl;">
    لطفا صبر کنید... <br />
    در حال ارتباط با درگاه بانکی
    <br />
</div>
<div>
    <img src="~/images/Loading.GIF" alt="" />
</div>
